* Add a black background color to the top navigation */
.topnav {
  background-color: #8d8d8d; /* Gray background color */
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
#nav_link:hover {
    background-color: #424040;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(49, 47, 47);
    color: rgb(255, 255, 255);
 }
/* Right-aligned section inside the top navigation */
.topnav_right {
    float: right;
    padding: 14px 16px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

nav {
  height: 60px; /* Adjust based on your nav height */
}

.game-container {
  position: absolute;
  top: 60px; /* Adjust based on your nav height */
  width: 100%;
  height: calc(100vh - 60px); /* Adjust based on your nav height */
  background-image: url('table-background.png');
  background-size: cover;
  padding: 20px;
}

.bet-container {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  align-items: center;
  padding: 5%;
}

.bet-input {
  margin-right: 10px;
  height: 25px;
}

.play-button {
  width: 45px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.challenger, .player {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenger {
  top: 2%; /* Adjust to position the challenger comfortably */
}

.player {
  bottom: 2%; /* Adjust to position the player comfortably */
}

.card-outlines {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.card-outline {
  width: 100px; /* Set width in pixels */
  height: 130px; /* Set height in pixels */
  background-image: url('https://deckofcardsapi.com/static/img/back.png');
  background-size: cover;
  margin: 0 15px; /* Set margin in pixels */
}

.middle-cards {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: auto;
}

.middle-cards .card-outline {
  margin: 0 10px; /* Set margin in pixels */
}















.footer {
    background-color: #212020; /* Deep gray background color */
    color: white;
    padding: 10px;
    position: absolute;
    top: 650px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
    font-size: 1.4em;
}