
* Add a black background color to the top navigation */
.topnav {
  background-color: #8d8d8d; /* Gray background color */
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
#nav_link:hover {
    background-color: #424040;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(49, 47, 47);
    color: rgb(255, 255, 255);
 }
/* Right-aligned section inside the top navigation */
.topnav_right {
    float: right;
    padding: 14px 16px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  nav {
    height: 60px; /* Adjust based on your nav height */
  }
  
  .table-background {
    position: absolute;
    top: 60px; /* Adjust based on your nav height */
    width: 100%;
    height: calc(100vh - 60px); /* Adjust based on your nav height */
    background-image: url('table-background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .roulette-wheel {
    position: relative;
    width: 500px; /* Adjust the size as needed */
    height: 500px; /* Adjust the size as needed */
    border-radius: 50%;
    border: solid olive 3px;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
  }
  
  .roulette-button {
    width: 60px; /* Set width in pixels */
    height: 30px; /* Set height in pixels */
    padding: 0 2px; /* Add 2px padding to the sides */
    background-color: rgb(255, 0, 0); /* Adjust the color as needed */
    color: rgb(255, 255, 255);
    font-weight: 800;
    border: none;
    cursor: pointer;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 30px; /* Center text vertically */
  }


















.footer {
    background-color: #212020; /* Deep gray background color */
    color: white;
    padding: 10px;
    position: absolute;
    top: calc(53px + 500px + 348px + 163px); /* Adjust based on the height of your navbar, hero image, game links section, and about section */
    width: 100%;
    text-align: center;
    line-height: 1.4;
    font-size: 1.4em;
  }